.containerTudo{
  margin: 0px 10vw;
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 24px;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  padding: 24px 0
}

.conteudo {
  flex: 1;
  padding: 24px;
  max-width: 900px;
  margin: 0 auto;
}

.titulo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #1a2b4c;
}

/* Barra de busca */
.inputBusca {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cdd4e0;
  background-color: #CBCBCB;
  margin-bottom: 16px;
  font-size: 16px;
  color: black;
}

/* Select filtro */
.selectFiltro {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cdd4e0;
  margin-bottom: 24px;
  font-size: 16px;
  background: #CBCBCB;
  color: black;
}

/* Lista de meses */
.listaMeses {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mesBloco {
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.mesTitulo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #2c3e50;
}

/* Item do extrato */
.itemExtrato {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #e6e6e6;
}

.itemExtrato:last-child {
  border-bottom: none;
}

.descricao {
  font-size: 16px;
  font-weight: 500;
  color: #0062c4;
}

.data {
  font-size: 13px;
  color: #7f8c8d;
}

.valor {
  font-size: 16px;
  font-weight: bold;
}

.positivo {
  color: #27ae60;
}

.negativo {
  color: #c0392b;
}

.filtrosLinha {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}